<!-- index.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
        src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
        crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Vulnerability Scanner</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Vulnerability Scanner</h1>

        <form action="{{ url_for('scan') }}" method="POST" class="my-4">
            <div class="form-group">
            <input type="text" name="url" class="form-control" placeholder="http://example.com">
            </div>
            <button type="submit" id="scanButton" class="btn btn-primary" onclick="startLoading()">
                <span class="spinner-border spinner-border-sm loader" role="status" aria-hidden="true"></span>
                Scan
                </button>
        </form>

        {% if error_message %}
            <div class="alert alert-danger mt-3" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
        <div id="loading-bar">
            <div id="progress"></div>
        </div>
    </div>
    <script>
        document.querySelector("form").addEventListener("submit", function() {
            document.querySelector(".loader").classList.add("show");
            document.getElementById("scanButton").disabled = true;
        });
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
